layout python3
export DJANGO_ALLOWED_HOSTS="localhost 127.0.0.1 [::1]"
export CELERY_BROKER=redis://127.0.0.1:6379/0
export CELERY_BACKEND=db+postgresql://spoonbilluser:spoonbillpwd@127.0.0.1/spoonbill
export POSTGRES_DB=spoonbill
export POSTGRES_USER=spoonbilluser
export POSTGRES_PASSWORD=spoonbillpwd
export DB_HOST=127.0.0.1
