celery
channels
channels_redis
daphne
django
django-celery-beat
django-celery-results
django-cors-headers
django-transfer
djangorestframework
drf-nested-routers
ijson
markdown
psycopg2
python-json-logger
pyyaml
redis
requests
sentry-sdk
sphinx
sphinx_rtd_theme
sqlalchemy
transifex-client
-e git+git://github.com/open-contracting/spoonbill.git@48e0173fd540681414e9920a0e0752e9bc83de7e#egg=spoonbill
