celery
channels
channels_redis
daphne
django
django-celery-beat
django-celery-results
django-cors-headers
django-transfer
djangorestframework
drf-nested-routers
ijson
markdown
psycopg2
pyyaml
redis
requests
sentry-sdk
sphinx
sphinx_rtd_theme
sqlalchemy
transifex-client
-e git+git://github.com/open-contracting/spoonbill.git@44f715e47d5807a449b30d333030a85af4c00717#egg=spoonbill
