celery
channels
channels_redis
daphne
django
django-celery-beat
django-celery-results
django-cors-headers
django-transfer
djangorestframework
drf-nested-routers
ijson
markdown
psycopg2
python-json-logger
pyyaml
redis
requests
sentry-sdk
sphinx
sphinx_rtd_theme
sqlalchemy
transifex-client
-e git+git://github.com/open-contracting/spoonbill.git@ed607519428d7c10e48d45674c37482035d03f25#egg=spoonbill
