.v-btn {
    box-shadow: none;
    &__content {
        text-transform: none;
    }
    &.accent {
        .v-btn__content {
            color: map-get($colors, 'darkest');
        }
    }
    &.v-btn--disabled.v-btn--has-bg {
        opacity: 0.4;
    }
}
