.v-input--switch.v-input--switch--inset {
    padding-left: 4px;
    &.darkest--text {
        .v-input--switch__thumb {
            background-color: white;
        }
        .v-input--switch__track {
            opacity: 1;
            background-color: map-get($colors, 'darkest');
        }
    }
}
