.v-input--switch.v-input--switch--inset {
    .v-input__slot {
        flex-direction: row-reverse;
    }
    .v-input--selection-controls__input {
        margin-right: 0;
    }
    .v-label {
        left: -10px !important;
    }
    &.darkest--text {
        .v-input--switch__thumb {
            background-color: white;
        }
        .v-input--switch__track {
            opacity: 1;
            background-color: map-get($colors, 'darkest');
        }
    }
}
