.v-snack {
    .v-snack__wrapper {
        box-shadow: none !important;
        .v-snack__content {
            color: #ffffff;
            display: flex;
            align-items: center;
        }
        &.error {
            background-color: map-get($colors, 'error-notification') !important;
        }
        &.success {
            background-color: map-get($colors, 'success-notification') !important;
        }
    }
}
