$colors: (
    primary: #444444,
    darkest: #323232,
    accent: #E0E83D,
    gray-dark: #DADADA,
    gray-light: #EEEEEE,
    super-light: #F8F9FA,
    error: #FF9393,
    error-light: #FFE8E8,
    success: #71B604,
    success-light: #F0F8E5,
    success-notification: #25B2A7,
    error-notification: #F44336,
);
