@import "fonts";
@import "variables";
@import "overridings";

body .theme--light.v-application {
    font-family: 'GT Eesti Pro Display', sans-serif;
    color: map-get($colors, 'primary');
    background-color: map-get($colors, 'super-light') !important;
}

h1, h2, h3 {
    color: map-get($colors, 'darkest');
}

.p-relative {
    position: relative !important;
}

.text-link {
    color: map-get($colors, 'darkest');
    text-decoration: none;
    border-bottom: 2px solid map-get($colors, 'accent');
}

.text-light-14 {
    font-weight: 300;
    font-size: 14px;
}

.rounded-box {
    border-radius: 32px 8px 0 16px;
}

.page-title {
    font-size: 1.5em;
    font-weight: 400;
}

.page-description {
    margin-top: 24px;
    margin-bottom: 0!important;
    font-weight: 300;
}

.v-stepper {
    box-shadow: none;
}

.app-btn {
    border: 1px solid map-get($colors, 'gray-dark');
    .v-btn__content {
        color: map-get($colors, 'darkest');
    }
}
